@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@nuxt/ui";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme static {
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --color-just-right: #fad9c1;
  --color-wewak: #e35079;

  --color-wewak-50: #fdf2f5;
  --color-wewak-100: #fbe5eb;
  --color-wewak-200: #f8ccd7;
  --color-wewak-300: #f4a2b9;
  --color-wewak-400: #ed7395;
  --color-wewak-500: #e35079;
  --color-wewak-600: #cb315c;
  --color-wewak-700: #aa2146;
  --color-wewak-800: #8e1d3d;
  --color-wewak-900: #771a36;
  --color-wewak-950: #430a1b;
}

body {
  font-family: var(--font-plus-jakarta-sans);
}
